<div class="row justify-content-center">
  <div class="col-xl-10 col-xxl-9">
    <div class="rf-register-form">
      <form class="rg-form">
        <h2>Ajouter Fournisseur</h2>
        <div class="rf-input-container"><i class="fa fa-star fa fa-user rf-icon"></i><input class="form-control rf-input-field" type="text" placeholder="Nom" /></div>
        <div class="rf-input-container"><i class="fa fa-mobile fa fa-envelope rf-icon"></i><input class="form-control rf-input-field" type="text" placeholder="Telephone" /></div>
        <div class="rf-input-container"><i class="fa fa-map-pin fa fa-key rf-icon"></i><input class="form-control rf-input-field" type="password" placeholder="adresse" /></div><button class="btn btn-primary rf-btn" type="button">Ajouter</button>
      </form>
    </div>
  </div>
</div>
