<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row row flex-nowrap">
            <div class="col col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"><a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"><span class="fs-5 d-none d-sm-inline"><img src="assets/img/logo.png" width="129" height="116">LabXpert</span></a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item"><a href="index.html" class="nav-link align-middle px-0"><i class="fa fa-home fs-4 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span></a></li>
                        <li><a href="echantillon.html" class="nav-link px-0 align-middle"><i class="fa fa-table fs-4 bi-table"></i><span class="ms-1 d-none d-sm-inline">Echantillon</span></a></li>
                        <li><a routerLink="/patients" class="nav-link px-0 align-middle"><i class="fa fa-users fs-4 bi-people"></i><span class="ms-1 d-none d-sm-inline">Patient</span></a></li>
                        <li><a href="planifications.html" class="nav-link px-0 align-middle"><i class="fa fa-calendar fs-4 bi-people"></i><span class="ms-1 d-none d-sm-inline">Planification</span></a></li>
                        <li><a href="planifications.html" class="nav-link px-0 align-middle"><i class="fa fa-hourglass-start fs-4 bi-people"></i><span class="ms-1 d-none d-sm-inline">Analyse</span></a></li>
                        <li><a href="reactif.html" class="nav-link px-0 align-middle"><i class="fa fa-flask fs-4 bi-people"></i><span class="ms-1 d-none d-sm-inline">Reactif</span></a></li>
                        <li><a href="outil.html" class="nav-link px-0 align-middle"><i class="fa fa-wrench fs-4 bi-people"></i><span class="ms-1 d-none d-sm-inline">Materiel</span></a></li>
                        <li><a href="#" class="nav-link px-0 align-middle"><i class="icon ion-ios-flower fs-4 bi-people"></i><span class="ms-1 d-none d-sm-inline">Norme</span></a></li>
                        <li><a href="Utilisateur.html" class="nav-link px-0 align-middle"><i class="fa fa-user-md fs-4 bi-people"></i><span class="ms-1 d-none d-sm-inline">Utilisateur</span></a></li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4"><a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"><img src="User.png" alt="hugenerd" width="30" height="30" class="rounded-circle"><span class="d-none d-sm-inline mx-1">loser</span></a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <p class="col py-3"><br> Content area...<br> </p> -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>